<!--#todo - move this to a new component-->

<mat-card class="w-96 shadow-2xl p-6" *ngIf="!val && !file">
  <mat-card-header class="justify-center text-center">
    <mat-card-title class="monserrat text-gray-800"
      >Upload Your Image</mat-card-title
    >
    <mat-card-subtitle class="py-4 monserrat"
      >File should be JPEG, png...</mat-card-subtitle
    >
  </mat-card-header>
  <div
    appImageUploader
    (dropFile)="onDropFile($event)"
    class="container flex flex-col justify-center items-center bg-slate-200 border border-dashed border-slate-500 p-6"
  >
    <img
      mat-card-image
      class="d-block w-1/2"
      src="../assets/image.svg"
      alt=""
    />
    <p class="pt-5 font-medium text-gray-600">Drag & Drop your image here</p>
  </div>

  <mat-card-content>
    <p class="text-center py-4 font-medium text-gray-800">Or</p>
  </mat-card-content>
  <mat-card-actions class="flex justify-center">
    <input
      type="file"
      class="hidden"
      #fileUpload
      (change)="onFileSelected($event)"
      access=".png,.jpg"
    />
    <button mat-raised-button color="primary" (click)="fileUpload.click()">
      Choose a file
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="w-96 shadow-2xl p-6" *ngIf="val && val != 100">
  <mat-card-header>
    <mat-card-title class="monserrat text-gray-800"
      >Uploading...</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar color="primary" mode="determinate" [value]="val">
    </mat-progress-bar>
  </mat-card-content>
</mat-card>

<mat-card
  class="w-96 shadow-2xl p-6"
  *ngIf="downloadURL | async as url"
  [style.display]="display"
>
  <div>
    <button mat-icon-button aria-label="Back button" (click)="back()">
      <mat-icon
        class="text-gray-500 font-bold cursor-pointer"
        aria-hidden="false"
        aria-label="check icon"
        fontIcon="arrow_back"
      ></mat-icon>
    </button>
  </div>
  <div class="flex flex-col justify-center items-center">
    <mat-icon
      class="text-lime-600 mb-1"
      aria-hidden="false"
      aria-label="check icon"
      fontIcon="check_circle"
    ></mat-icon>
    <mat-card-title class="font-normal">Uploaded Successfully</mat-card-title>
  </div>
  <img
    mat-card-image
    [src]="url"
    alt="uploaded image"
    class="rounded-lg my-4"
  />
  <mat-card-actions>
    <div class="flex justify-between w-full pl-2 border rounded-lg">
      <input
        type="text"
        [value]="url"
        class="w-3/5 focus-visible:border-none outline-none"
      />
      <button
        mat-flat-button
        color="primary"
        class="rounded-lg"
        (click)="copyToClipboard(url)"
      >
        {{ copyBtnTxt }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
