<div class="h-full flex justify-center items-center">
  <div
    class="container w-80 flex flex-col justify-center items-center shadow-lg rounded-md p-5"
  >
    <h2>upload your image</h2>
    <p>File should be JPEG, png...</p>
    <div
      class="container flex flex-col justify-center items-center bg-slate-200 border border-dashed border-slate-500 p-6"
    >
      <img class="d-block w-1/2" src="../assets/image.svg" alt="" />
      <p class="pt-5">Drag & Drop your image here</p>
    </div>
    <p>or</p>
    <button>Choose a file</button>
  </div>
</div>
